*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFB7C2;
}

a{
    text-decoration: none;
}



.texto{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.precio{
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #333333;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.nav-link{
    padding-right: 35px!important;
    padding-left: 35px!important;
}

.nav-link:hover{
    border: #333333;
    box-shadow: #333333;
    background-color: #FFB7C2;
    font-weight: bold;
}

nav{
    color: #FFFFFF;
    font:#333333;
    font-size: 1rem;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.titulo{
    font-size: 1.5rem;
}

.pad{
    padding-top: 20px;
}

.texto3d{
	font-size:3em;
	color:#eee;
	text-shadow:1px 1px #333333,2px 2px #333333,3px 3px #333333,4px 4px #333333,5px 5px #333333,6px 6px;
    font-family:'Courier New', Courier, monospace;
}

#colorTitulos{
   color: #FFFFFF;
   font-family:'Courier New', Courier, monospace;
}

#arreglo{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill,minmax(15rem, 1fr));
}

.card{
    border: 0;
    background: #FFB7C2;
}

.arregloFotos{
 width: 20rem;
 height: 27rem;
}